@media screen {
  .collection-card {
    padding: 20px 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .collection-wrapper {
    gap: 15px;
    width: 100%;
    display: flex;
    overflow: hidden;
    overflow-y: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow-x: scroll;
    cursor: pointer;
  }


  .collection-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .collection-header h1 {
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 800;
  }

  .collection-header span {
    font-size: 0.8rem;
    cursor: pointer;
  }

  .card-c {
    padding: 5px;
    min-width: 300px;
    min-height: 200px;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    background-color: var(--background-color);
  }

  .card-img {
    width: 100%;
    height: 120px;
    display: flex;
    padding: 10px;
    border-radius: 12px;
    background-size: cover;
    flex-direction: column;
    align-items: flex-end;
    background-position: center top;
    background-repeat: no-repeat;
  }

  .card-like {
    height: 38px;
    width: 38px;
    display: flex;
    border-radius: 360%;
    align-items: center;
    justify-content: center;
    box-shadow: var(--show-shadow);
    background-color: var(--background-color);
  }

  .likeIcon {
    fill: var(--secondary-color);
  }

  .card-info {
    gap: 2px;
    display: flex;
    padding: 10px;
    flex-direction: column;
  }

  .card-info h1 {
    text-transform: capitalize;
    font-size: 1rem;
  }

  .card-info span {
    font-size: 0.8rem;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {

    .collection-card {
        padding-bottom: 50px;
        gap: 40px;

      }
    
  .collection-header h1 {
    font-size: 1.2rem;
  }

  .collection-header span {
    font-size: 1rem;
  }
}
