@media screen {

  .cart-nothing {
    height: 80%;
    display: flex;
    font-size: .6rem;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--light-secondary-color);

  }


  .cart-contain {
    gap: 20px;
    margin: 10px;
    display: flex;
    padding: 10px;
    border-radius: 12px;
    height:fit-content;
    flex-direction: column;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

  }

  .cart-layout {
    gap: 20px;
    height: 100%;
    display: flex;
    height: fit-content;
    flex-direction: row;
    border-radius: 12px;
    background-color: var(--background-color);
  }

  .cart-lay1 {
    flex: 50%;
    display: flex;
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    

  }


  .cart-lay2 {
    flex: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
  }

  .cart-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cart-h {
    font-size:  .6rem;
    font-weight: 300;
    text-transform: capitalize;
  }

 
  .sideline {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .cart-price {
    display: flex;
    font-size: .8rem;
    align-items: center;
    justify-content: space-between;
  }

  .card-info {
    gap: 2px;
    gap: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    color: var(--primary-color);
  }

  .card-info h1 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1rem;
  }


  .card-info span {
    font-size: 1rem;
    font-weight: 400;
    color: var(--light-secondary-color);
  }

  .card-info p {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
  }

  .quantity-p h1 {
    font-size: .9rem;
  }

  .inc-contain {
    gap: 20px;
    display: flex;
    align-items: center;
  }

  .cart-in {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    border-radius: 360%;
    justify-content: center;
    background-color: var(--primary-color);
  }

  .show-ds {
    display: none;
  }

  .show-mb {
    padding: 10px;
    display: flex;

  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .cart-contain {
    margin: 20px;
    padding-bottom: 0;
  }

  .cart-no {
    padding:  0 10px;
    align-items: center;
    justify-content: space-between;
  }

  .cart-price {
    display: none;

  }

  .cart-h {
    padding: 10px;
    font-size:  .7rem;
  }


  .cart-layout {
    gap: 20px;
    height: 100%;
    padding: 10px;
    border-radius: none;
    /* background-color: var(--light-secondary-color); */
  }

  .show-ds {
    display: flex;
  }

  .show-mb {
    display: none;
  }
}
