@media screen {
  .collection-card {
    padding: 20px 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .collection-wrapper {
    gap: 15px;
    width: 100%;
    display: flex;
    overflow: hidden;
    overflow-y: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow-x: scroll;
  }

  *::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }

  .collection-header {
    display: flex;
  }

  .collection-header h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }


  .card-c {
    padding: 5px;
    display: flex;
    min-width: 300px;
    min-height: 200px;
    border-radius: 12px;
    flex-direction: column;
    background-color: var(--background-color);
  }

  .card-b-img {
    width: 100%;
    height: 150px;
    display: flex;
    object-fit: cover;
    border-radius: 8px;
    object-position: center top;
    flex-direction: column;
    align-items: flex-end;
  }

  .card-info {
    gap: 2px;
    gap: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    color: var(--primary-color);
  }

  .card-info h1 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1rem;
  }

  .card-info span {
    font-size: 0.8rem;
  }

  .card-info p {
    font-size: .8rem;
  }

  .product-btn {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    color: var(--background-color);
    background-color: var(--primary-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .collection-card {
    padding-bottom: 50px;
    gap: 40px;
  }

  .collection-header {
    justify-content: space-between;
  }

  .collection-header h1 {
    font-size: 2rem;
  }

  .collection-header span {
    font-size: 1rem;
  }
}
