@media screen {

  .home-wrap{
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  
  .home-container {
    gap: 20px;
    height: 100%;
    display: flex;
    padding: 0 10px;
    text-align: justify;
    flex-direction: column;
    justify-content: space-between;

  }

  .hero-section {
    gap: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .hero-ban {
    gap: 10px;
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    justify-content: center;
    border: 1px solid var(--secondary-color);
  }

  .hero-ban h2 {
    font-size: .8rem;
    text-transform: uppercase;
    color: var(--secondary-color);
  }

  .hero-ban span {
    height: 15px;
    width: 15px;
    border-radius: 360%;
    background-color: var(--secondary-color);
  }

  .hero-section h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .hero-section p {
    font-size: .8rem;
  }

  .hero-s {
    gap: 10px;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
  }

  .hero-span-contain {
    padding: 4px;
    border-radius: 12px;
    background: linear-gradient(-15deg, #13d401, #4825C7, #6bd7ff);

  }

  .hero-span {
    display: flex;
    padding: 10px;
    border-radius: 12px;
    justify-content: space-between;
    background: linear-gradient(-15deg, #13d401, #4825C7, #6bd7ff);
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  .span-h {
    display: flex;
    text-align: center;
    flex-direction: column;
    text-transform: uppercase;
    color: var(--light-color);

  }

  .span-h h1 {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .span-h span {
    font-size: .6rem;
    font-weight: 500;
  }

  .hero-btn {
    display: flex;
    padding: 15px 20px;
    align-items: center;
    border-radius: 12px;
    font-size: 1rem;
    justify-content: space-between;
    color: var(--background-color);
  }

  .btn-a {
    background-color: var(--secondary-color);
  }

  .btn-a:hover {
    background: var(--gradient-color);
  }

  .btn-b {
    color: var(--secondary-color);
    background-color: transparent;
    border: 2px solid var(--secondary-color);
  }

  .btn-b:hover {
    color: var(--background-color);
    background: var(--gradient-color);

    
  }

  .btn-b:hover .arrow-icon {
    fill: var(--background-color);
  }

  .btn-b .arrow-icon {
    fill: var(--secondary-color);
  }

  .arrow-icon {
    height: 30px;
    fill: var(--background-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {

  .home-container {
    gap: 30px;
    height: 80vh;
    padding: 0 30px;
    text-align: start;
    flex-direction: row;
  }

  .hero-section {
    flex: 40%;
    justify-content: end;
  }

  .hero-ban {
    width: fit-content;
    justify-content: start;
  }

  .hero-ban h2 {
    font-size: 1rem;

  }

  .hero-ban span {
    height: 20px;
    width: 20px;

  }

  .hero-section h1 {
    font-size: 2.8rem;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .hero-s {
    flex: 50%;
  }

  
  .hero-span {
    padding: 10px 40px;

  }

  

  .span-h h1 {
    font-size: 1.5rem;
  }
  
  .span-h span {
    font-size: 1rem;
  }

  .hero-btn {
    padding: 20px 40px;
    font-size: 1.4rem;
  }

}
