@media screen {
    .shop-container {
        gap: 20px;
        height: 100%;
        padding: 10px;
        flex-direction: column;
    }

    .shop-s {
        padding: 20px 0;
    }

    .categories-inner {
        gap: 10px;
        display: flex;
        padding: 20px 0;
        flex-direction: column;
    }

    .categories-inner h1 {
        text-transform: capitalize;
        font-size: 1rem;
    }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
    .categories-inner {
        gap: 20px;
    }
    
    .categories-inner h1 {
        font-size: 1.2rem;
    }
}

